{% extends "layout.html" %}

{% block content %}

<div class="container">

    <div class="starter-template">

        <h1>Bootstrap starter template</h1>

        <p class="lead">Use this document as

        a way to quickly start any new project.

        </p>

        <form action="/" method="post">{% csrf_token %}

            <table border="2">

                <center>

                    Ad: <input type="text" name="ad"><br>
                    Email: <input type="text" name="email"><br>
                    <input type="submit" value="Gönder">

                </center>

            </table>

        </form>

    </div>

</div>

{% endblock %}