{% extends "layout.html" %}

{% block content %}

<div class="container">

    <div class="starter-template">

        <br>
        <br>
        <br>
        <br>

        <form action="/login_view/" method="post">{% csrf_token %}

            <table border="2">

                <center>

                    İsim: <input type="email" name="email"><br>

                    Parola: <input type="password" name="password"><br>


                    <input type="submit" value="Gönder">


                </center>

            </table>

        </form>

    </div>

</div>


{% endblock %}