{% extends "layout.html" %}

{% block content %}

<div class="container">

    <div class="starter-template">
        <br><br><br><br><br>

        <h3><a href="/login_view">Login</a></h3>
        <h3><a href="/signup_view">Signup</a></h3>

        <form action="/signup_view/" method="post">{% csrf_token %}

            <table border="2">

                <center>

                    <br>
                    İsim: <input type="text" name="name"><br>
                    Email: <input type="email" name="email"><br>
                    Parola: <input type="password" name="parola"><br>
                    Parola Onay: <input type="password" name="parola1"><br>

                    <input type="submit" value="Gönder">

                    <br>

                </center>

            </table>

        </form>

    </div>

</div>

{% endblock %}